# Table of Contents
 <p>

If we look at the tidied billboard data, you'll notice that a lot of information is repeted.
For each we have about 76 rating values for each song
That means that the same exact song information is stored 76 times!
From a data storage perspective, that's really inefficient.

What we will have to do is create 2 dataframes:
one containing just the song information,
and one just conatining rating infomation.
This is normalization.

Normalization is usually done when storing data,
to do an analysis we usually have to de-normalize data.

In [1]:
import pandas as pd
billboard = pd.read_csv('../data/billboard.csv')
billboard_long = billboard.melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                               var_name='week',
                               value_name='rating')

In [2]:
billboard_long.sample(5)

,year,artist,track,time,date.entered,week,rating
5942,2000,"Price, Kelly",Love Sets You Free,3:46,2000-05-13,wk19,NaN
13107,2000,Ginuwine,None Of Ur Friends B...,4:12,1999-12-11,wk42,NaN
1573,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,wk5,51.0
21821,2000,Sister Hazel,Change Your Mind,4:02,2000-07-15,wk69,NaN
21167,2000,Red Hot Chili Peppers,Otherside,4:13,2000-02-12,wk67,NaN

In [3]:
# look at how many values of "Loser" we have
billboard_long[billboard_long.track == 'Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
...     ...           ...    ...   ...          ...   ...     ...
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [4]:
# subset song information
billboard_song = billboard_long[['year', 'artist', 'track', 'time']]

In [5]:
billboard_song.shape

(24092, 4)

In [6]:
# drop duplicates
billboard_song = billboard_song.drop_duplicates()

In [7]:
billboard_song.shape

(317, 4)

In [8]:
# create a "key" to refer to each song
# one way is to use the index
billboard_song.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            307, 308, 309, 310, 311, 312, 313, 314, 315, 316],
           dtype='int64', length=317)

In [9]:
billboard_song['id'] = billboard_song.index

In [10]:
billboard_song.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [11]:
# this is another way to assign ID
billboard_song['id'] = range(len(billboard_song))

In [12]:
billboard_long.sample(5)

,year,artist,track,time,date.entered,week,rating
2644,2000,"Gill, Vince",Feels Like Love,4:13,2000-09-02,wk9,54.0
17590,2000,Kandi,Don't Think I'm Not,3:50,2000-08-05,wk56,NaN
18416,2000,Before Dark,Monica,4:04,2000-05-20,wk59,NaN
17225,2000,Ghostface Killah,Cherchez LaGhost,3:04,2000-08-05,wk55,NaN
2263,2000,"Brock, Chad",A Country Boy Can Su...,3:54,2000-01-01,wk8,NaN

In [13]:
# we need that ID value back to our original table
billboard_ratings = billboard_long.merge(
    billboard_song,
    on=['year', 'artist', 'track', 'time']
)

In [14]:
billboard_ratings.sample(5)

,year,artist,track,time,date.entered,week,rating,id
18418,2000,Rascal Flatts,Prayin' For Daylight,3:36,2000-05-06,wk27,NaN,242
22144,2000,Train,Meet Virginia,3:55,1999-10-09,wk29,NaN,291
23114,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,wk11,98.0,304
14432,2000,Madison Avenue,Don't Call Me Baby,3:44,2000-07-08,wk69,NaN,189
17873,2000,"Price, Kelly",As We Lay,6:20,2000-07-15,wk14,NaN,235

In [15]:
# subset just the rating information
billboard_ratings = billboard_ratings[['id', 'date.entered', 'week', 'rating']]

In [16]:
billboard_ratings.sample(5)

        id date.entered  week  rating
15111  198   2000-09-09  wk64     NaN
6349    83   2000-10-07  wk42     NaN
12155  159   1999-12-25  wk72     NaN
5981    78   2000-01-01  wk54     NaN
4828    63   2000-05-13  wk41    13.0

In [17]:
# now we can save it out!